version: '3.9'

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: pamahres_backend
    env_file:
      - ./server/.env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    command: >
      uv run gunicorn app.wsgi:application --bind 0.0.0.0:8000

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  
  celery:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: pamahres_celery
    env_file:
      - ./server/.env
    depends_on:
      - backend
      - redis
    command: >
      uv run celery -A app worker -l info